h1{
    text-align:center;
    color: rgb(231, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    font-size:8em;
}

body{
    text-align: center;
    color: rgb(231, 222, 222);
    background-color: rgb(60, 80, 90);
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
}